<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block contents %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>


<body>
    <br>
    {% for blog in blogs.all %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date }}</h6>
                <p class="card-text">{{ blog.summary }}</p>
                <a href="{% url 'detail' blog.id %}" class="card-link">....more</a>
            </div>
        </div>
        <br>
    </div>
    {% endfor %}

    {% endblock %}
</body>

</html>