{% extends 'base.html' %}

{% block import %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/home.css" %}" >
{% endblock %}



{% block contents %}
    <div>
        <h1 class="main_title">게시글 확인</h1>
    </div>

    <br>

    {% for blog in blogs.all %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date }}</h6>
                <p class="card-text">{{ blog.summary }}</p>
                <a href="{% url 'detail' blog.id %}" class="card-link">....more</a>
            </div>
        </div>
        <br>
    </div>
    {% endfor %}

{% endblock %}


